@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --map-back: #3a3a3a;
  --map-border: #000;
  --map-object-stroke: #393939;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

svg {
  border: 1px solid var(--map-border);
  background-color: var(--map-back);
}

svg g path {
  stroke: var(--map-object-stroke);
  stroke-width: 1px;
  vector-effect: non-scaling-stroke;
}
